body {
    height: 200vh;
    font-family: Poppins, sans-serif;
    background-color: #D9D9D9;
    overflow-y: auto;
  }
  
  .texto-modulos{
    font-family:Poppins, sans-serif;
    margin-left: 20px;
    margin-top: 13px;
    font-size: 22px;
    font-weight: bold;
  }

  /*SIDE BAR IZQUIERDA*/
  
  .sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 1024px;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: #9197B3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .sidebar-button1 {
    gap: 13px;
  }

  .sidebar-button2 {
    gap: 0px;
    padding-left: 44px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #9197B3;
    transition: fill 0.3s ease;
  }
  
  .icon-interior{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: none;
    transition: fill 0.3s ease;
  }
  
  .icon-external-border{
    stroke: #9197B3;
    stroke-width: 1.35px;
    stroke-linecap:round;
    stroke-linejoin:round;
  }
  
  .icon-interior-border{
    stroke: #9197B3;
    stroke-width: 1.5px;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .icon-agujero-llave{
    stroke:#9197B3;
    stroke-width: 2px;
    stroke-linecap: round;
  }

  .jobsheets-button-general{
    width: 20px;
    height: 20px;
    fill: none;
  }

  .jobsheets-inferior{
    fill: #9197B3;
  }

  .jobsheets-external-border{
    stroke: #9197B3;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  
  .payments-button-border{
    stroke:#9197B3;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin:round;
  }
  
  .payments-button{
    width: 21;
    height: 22px;
    fill: none;
  }
  
  /*Hover en side bar*/

  .sidebar-button:hover,
  .sidebar-button1:hover {
    background-color: #5932EA;
    transform: translateX(5px);
    color: #FFFFFF;
  }

  .sidebar-button:hover .icon {
    fill: white;
  }
  
  .sidebar-button:hover .payments-button {
    stroke: white;
  }

  .sidebar-button:hover .icon-external-border,
  .sidebar-button:hover .icon-interior-border,
  .sidebar-button:hover .icon-agujero-llave,
  .sidebar-button:hover .payments-button-border,
  .sidebar-button1:hover .jobsheets-external-border,
  .sidebar-button1:hover .jobsheets-inferior {
    stroke: white;
  }

  .sidebar-button i {
    margin-right: 10px;
  }

  /*INVENTORY VIEW*/

.inventory-view{
  margin-top: 250px;
  margin-left: 250px;
  width: 955px;
  height: 80vh;
  background-color: white;
  border-radius: 8px;
  overflow-y: auto;
}

table {
  width: 80%;
  margin-top: 50px;
  margin-left: 8px;
  border-collapse: collapse; /* Une los bordes de las celdas */
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Línea gris para separar filas */
tr {
  border-bottom: 0.5px solid #9197B3; /* Solo separa filas */
}

/* Quita bordes entre columnas */
td, th {
  border: none;
}

th {
  background-color: white; /* Fondo gris claro para los encabezados */
}

.principal-row{
  font-size: 14px;
  color: #9197B3;
}

.other-row{
  font-size: 14px;
  font-weight: 600;
}